<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
    <!-- <script src="error.js"></script> -->
</head>
<body>
    <header>
        <nav class="nav">
            <img src="./img/Logo.svg" alt="logo">
            <ul class="nav-ref">
                <li class="nav-item"><a class="nav-ref-item" href="/">ГЛАВНАЯ</a></li>
                <li class="nav-item"><a class="nav-ref-item" href="analytics">АНАЛИТИКА</a></li>
            </ul>
            <img src="./img/ava40 2.svg" alt="ava">
        </nav>
    </header>
    <main>
        <p>An error<p/>
        <h1 class="error-header">404</h1>
        <p>occurred. Please try again.</p>
    </main>
</body>
</html>