<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav class="nav">
            <img src="./img/Logo.svg" alt="logo">
            <ul class="nav-ref">
                <li class="nav-item"><a class="nav-ref-item nav-prime" href="/">ГЛАВНАЯ</a></li>
                <li class="nav-item"><a class="nav-ref-item" href="analytics">АНАЛИТИКА</a></li>
            </ul>
            <img src="./img/ava40 2.svg" alt="ava">
        </nav>
    </header>
    <main>
        <div class="main-container">
            <form class="search">
                <input class="search-input" type="text" id="search" name="search" autocomplete="off"
                    placeholder="Поиск прибора в Botanique по номеру, названию, подразделению и др.">
            </form>
            <div class="search-results" id="search-results"></div>
            <div class="like">
                <div class="like-header">
                    <img class="like-img" src="./img/dislike.svg" alt="like">
                    <h3 class="like-header-text">Любимые приборы</h3>
                </div>
                <div class="like-list">
                    <div class="like-list-header">
                        <h4 class="like-list-header-text">Название</h4>
                        <h4 class="like-list-header-text">Статус</h4>
                    </div>
                    <div class="like-list-item-overflow">
                        <% if (devices.length> 0) { %>
                            <% devices.forEach(({img, name, like})=> { %>
                                <% if(like===true) {%>
                                    <div class="like-list-item">
                                        <div class="like-list-item-container1">
                                            <img src="<%= img %>" alt="device img" class="like-list-item-img1">
                                            <h4 class="like-list-item-text">
                                                <%= name %>
                                            </h4>
                                        </div>
                                        <div class="like-list-item-container2">
                                            <select class="like-list-item-dropdown">
                                                <option value="true">Свободен</option>
                                                <option value="false">В работе</option>
                                            </select>
                                            <img src="./img/Vector.svg" alt="" class="like-list-item-img2">
                                        </div>
                                    </div>
                                    <% } %>
                                        <% }) %>
                                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        const searchInput = document.getElementById('search');
        const searchResults = document.getElementById('search-results');

        searchInput.addEventListener('input', () => {
            const searchValue = searchInput.value.trim();

            if (searchValue.length >= 2) {
                fetch(`/search?query=${searchValue}`)
                    .then(response => response.json())
                    .then(data => {
                        searchResults.innerHTML = '';

                        if (data.length > 0) {
                            const resultList = document.createElement('ul');
                            resultList.classList.add('search-results-list');

                            data.forEach(device => {
                                const resultItem = document.createElement('li');
                                resultItem.classList.add('search-results-item');
                                resultItem.textContent = device.name;

                                // Добавляем картинку справа от найденного элемента в зависимости от значения device.like
                                const icon = document.createElement('div');
                                icon.classList.add('search-results-icon');
                                icon.innerHTML = device.like ? `<svg width="20" height="19" 
                                viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" 
                                d="M10 18.35L8.55 17.03C3.4 12.36 0 9.28 0 5.5C0
                                2.42 2.42 0 5.5 0C7.24 0 8.91 0.81 10 2.09C11.09
                                0.81 12.76 0 14.5 0C17.58 0 20 2.42 20 5.5C20
                                9.28 16.6 12.36 11.45 17.04L10 18.35Z" fill="#EE3F44"/>
                                </svg>` : `<svg width="20" height="19" viewBox="0 0 17 16"
                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M8.49999 15.7917L7.29166 14.6917C2.99999 
                                10.8 0.166656 8.23333 0.166656 5.08333C0.166656 
                                2.51667 2.18332 0.5 4.74999 0.5C6.19999 0.5 7.59166
                                1.175 8.49999 2.24167C9.40832 1.175 10.8 0.5 12.25
                                0.5C14.8167 0.5 16.8333 2.51667 16.8333 5.08333C16.8333
                                    8.23333 14 10.8 9.70832 14.7L8.49999 15.7917Z" fill="#818181"/>
                                </svg>`;

                                resultItem.appendChild(icon);

                                resultItem.addEventListener('click', () => {
                                    console.log('Выбрано устройство:', device);
                                    window.location.href = `/analytics/${device._id}`;
                                });
                                resultList.appendChild(resultItem);
                            });
                            searchResults.appendChild(resultList);
                        }
                    })
                    .catch(error => console.error(error));
            } else {
                searchResults.innerHTML = '';
            }
        })
    </script>
</body>

</html>